$white_color:#ffffff;
$blacke_color:rgba(19, 19, 41, 1);

$header_blue_color :#2D609B;

$base_btn1_bg_color: linear-gradient(89.26deg, #2B6CFE 0.55%, #0B3084 99.35%);




$base_blue_color:#2B6CFE;
$base_blue_color2:rgba(103, 148, 249, 1);

$base_orange_color:#EB4301;
$base_orange_color2:#FEA700;
